* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

}


#background-image {
    height: 940px;
    background: url(/assets/images/game-background.png) no-repeat;
    background-size: cover;
    }

header {
    font-family:'Codystar', cursive;
    color:azure;
    text-align: center;
    font-size: 65px;
    padding-top: 40px;
    -webkit-animation: glow 0.1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f5f5f1, 0 0 40px #f7f7f7, 0 0 50px #f4ebef, 0 0 60px #f4eef1, 0 0 70px #e8e1e5;
        }
        
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }

.panels {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-around;
    height: 750px;
    margin-top: 50px;
    
}

.game-panel {
    background-color: rgba(245, 246, 224, 0.9);
    margin-left: 170px;
    width: 1100px;
    height: 700px;
    border-radius: 1%;
    position: relative;
    border: 15px solid rgb(234, 54, 54);
    
}

.visibility {
    visibility: hidden;
}

.bill-panel {
    background-color: rgba(245, 246, 224, 0.8);
    margin-right: 170px;
    width: 320px;
    height: 720px;
    border-radius: 2%;
    position: relative;
}

.counter-panel {
    position: absolute;
    background-color: rgba(154, 151, 189) ;
    width: 230px;
    height: 65px;
    top: 480px;
    left:30px;
    border: 15px solid rgb(53, 49, 84);
    border-radius: 10%;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
    

}

.yellow-background {
    background-color: rgba(250, 206, 12, 0.7);
    height: 65px;
    
}
            

.red-background {
    background-color:rgb(234, 54, 54, 0.9);
    height: 65px;
}


.kw {
    position:absolute;
    top: 19px;
    left: -90px;  
}


.bulb {
    position: absolute;
    width: 200px;
    height: 200px;
}

.switch {
    position: absolute;
    width: 90px;
    height: 90px;
    
}

.rotate {
    transform: scaleX(-1);
    transform: scaleY(-1);
}


 #counter::after {
    content:"€"
 }

 .bulb-1 {
    top: 15px;
    left: 15px;
 }

 .bulb-2 {
    top: 15px;
    left: 265px;
 }


 .switch-1 {
    bottom: 15px;
    left: 15px; 
 }

 
 .switch-2 {
    bottom: 15px;
    left: 265px; 
 }