* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

}


#background-image {
    height: 1050px;
    background: url(/assets/images/salon.jpg) no-repeat;
    background-size: cover;
    }

header {
    font-family:'Codystar', cursive;
    color:azure;
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
    -webkit-animation: glow 0.1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f5f5f1, 0 0 40px #f7f7f7, 0 0 50px #f4ebef, 0 0 60px #f4eef1, 0 0 70px #e8e1e5;
        }
        
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }

.panels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 1000px;
    
}

.game-panel {
    background-color: rgba(245, 246, 224, 0.9);
    margin-left: 170px;
    width: 1100px;
    height: 700px;
    border-radius: 1%;
    position: relative;
    border: 15px solid rgb(234, 54, 54);
    
    
}

.bill-panel {
    background-color: rgba(245, 246, 224, 0.8);
    margin-right: 170px;
    width: 320px;
    height: 720px;
    border-radius: 2%;
    position: relative;
}

.counter-panel {
    background-color: whitesmoke ;
    width: 230px;
    height: 75px;
    border-radius: 2%;
    border: 15px solid rgb(234, 54, 54);
    border-radius: 10%;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
    position: absolute;
    top: 480px;
    left:30px;

}

.kw {
    position:absolute;
    top: 19px;
    left: -90px;  
}





.switch-container .rotate {
    transform: scaleX(-1);
    transform: scaleY(-1); 
}


/* PARA QUE APAREZAN E DESAPAREZAN AS CLASES*/


.bulb {
    width: 200px;
    height: 200px;
}

.switch {
    width: 90px;
    height: 90px;
    
}

/*añadir off y on a bulb container para que cambie de clase*/

.bulb-container.on .bulb.bulb-on {
    display: block;
}

.bulb-container.on .bulb.bulb-off {
    display: none;
}

.bulb-container.off .bulb.bulb-off {
    display: block;
}

.bulb-container.off .bulb.bulb-on {
    display: none;
}



/*.switch-container.on .switch {
    transform: scaleX(-1);
    transform: scaleY(-1);
}*/

.switch-container .rotate {
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.bulb-container.index-1 .bulb {
    position: absolute;
    top: 120px;
    left: 300px;
}

.bulb-container.index-2 .bulb {
   position: absolute;
    top: 120px;
    left: 550px;
}

.bulb-container.index-3 .bulb {
    position: absolute;
     top: 120px;
     left: 550px;
 }

 .bulb-container.index-4 .bulb {
    position: absolute;
     top: 120px;
     left: 800px;
 }

 .switch-container.index-2 .switch {
    position: absolute;
    top: 420px;
    left: 360px;
 }

 .switch-container.index-3 .switch {
    position: absolute;
    top: 420px;
    left: 360px;
 }

 .switch-container.index-4 .switch {
    position: absolute;
    top: 420px;
    left: 610px;
 }

 .switch-container.index-1 .switch {
    position: absolute;
    top: 420px;
    left: 610px;
 }

 #counter::after {
    content:"€"
 }